@import "./breakpoints.css.scss";
@import "./mixins.css.scss";
@import "./retina.css.scss";

body {
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  letter-spacing: 10px;
  @media screen and (max-width: $screen-md-max){
    font-size: 2em;
  }
}

h2, h3, p, em {
  font-family: 'Montserrat', serif;
}

h2 {
  font-size: 1.6em;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 20px;
  @media screen and (max-width: $screen-sm-max){
    font-size: 1.2em;
  }
}

h3 {
  font-size: 1.2em;
}

.banner-header{
  padding-top: 70px;
  background-color: royalblue;
  @include retina('../images/background-header.png', 2, cover, center center no-repeat);

  min-height: 300px;
  max-height: 650px;
  height: 75vh;
}

.height-100 {
  height: 100%;

  .center {
    @include vertical-align();
  }

}

.white {
  color : $white-color;
}

.panel-apartment {
  background-color: $white-color;
  .panel-apartment-inner{
    padding: 0 20px 20px;
  }
}

.description {

  background: $st-color;
  padding: 30px;

  @media screen and (min-width: $screen-md-min){
    position: relative;
    left: calc(8.33333333% + 15px);
    bottom: 40px;
    z-index: 1;
  }

}

.img-header {

  @media screen and (min-width: $screen-md-min){
    right: calc(10.66666666% + 15px);
    position: relative;
    top: 40px;
    padding: 0;
  }

  @media screen and (min-width: $screen-sm-min) and (max-width: $screen-md-max){
    right: calc(8.33333333% + 15px);
  }

  @media screen and (max-width: $screen-sm-max){
    display: none;
  }

  img {width: 100%}

}

.arrow-bottom {
  position: absolute;
  bottom: 120px;
  @media screen and (max-width: $screen-sm-max){
    bottom: 80px;
  }
  left: calc(50% - 12px);
  animation: animateArrow 1.5s infinite;
}


@-webkit-keyframes animateArrow {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
}
@keyframes animateArrow {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 20px);
    opacity: 0;
  }
}

// Map

.title-map {
  display: inline-block;
  background: $st-second-color;
  color: $st-color;
  padding: 30px;
  position: absolute;
  right: 75px;
  top: -25px;
}

// Properties

#Properties {
  background-color: #E7E7E7;
}

.price {
  display: inline-block;
  background: $st-second-color;
  color: $st-color;
  padding: 12px 18px;
  right: 45px;
  position: absolute;
  top: -15px;
}

#EndContent{
  @media screen and (min-width: $screen-md-min){
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,0000ff+51,0000ff+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 50%, $st-color 51%, $st-color 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffffff 0%,#ffffff 50%,$st-color 51%,$st-color 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffffff 0%,#ffffff 50%,$st-color 51%,$st-color 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='$st-color',GradientType=1 ); /* IE6-9 */
  }
}

.about-us{
  background: $st-color;
}

#Contact{
  background-color: $st-second-color;
}

.form-control {
  padding: 25px 20px;
  border-radius: 0;
  border: none;
}

.form-group {
  margin-bottom: 30px;
}
